bolt/*
!bolt/app
bolt/app/*
!bolt/app/extensions
bolt/app/*
!bolt/app/extensions
bolt/app/extensions/*
!bolt/app/extensions/MafmcPodcast
!bolt/app/extensions/MafmcCalendar

*.sw*
.vagrant
**/.DS_Store
index.html
assets
