<script src="{{ paths.theme }}external/jquery/dist/jquery.js"></script>
<script src="{{ paths.theme }}external/bootstrap/dist/js/bootstrap.js"></script>

<footer>

<div class="container" style="padding-top:30px;">

<div class="col-md-3">
<span class="title">Worship Times</span>
<br />
<p>Sundays 10:30am</p>
<span class="title">Location</span>
<br />
<p><a href="https://www.google.com/maps/place/1913+S+Mattis+Ave/@40.092619,-88.277327,17z/data=!3m1!4b1!4m2!3m1!1s0x880cd0fd73b07397:0x908617506af37349" title="Map to MAFMC">1913 S. Mattis Ave., Champaign, IL</a></p>
<span class="title">Contact</span><br />
<p>217.355.5947<br />
mafmcmail@mattisave.org</p>
</div>

<div class="site-map col-md-9" >
<span class="title">Site Map</span><br />
{{ menu('footer', '_site_map.twig') }} 
</div>

<p class="title text-center" style="margin-top:250px;">&copy; 2014 Mattis Avenue Free Methodist Church</p>

</div>
</footer>
</html>
