{% include '_header.twig' %}

<div class="container-fluid hero-div overlay-{{ record.overlay }}" >
  <img src="{{ record.image|image() }}"  />
  <span class="overlay-text">connect</span>
</div>


<div class="page">
<div class="container">

<div class="page-section connect-page">

<div class="row">
<div class="col-md-4 col-md-offset-2">
<h2>Welcome!</h2>
</div>
</div>




<div class="row">
<div class="col-md-8 col-md-offset-2">
<p>This is His Church. Through the priority of Prayer and careful attention to the Word of God, we endeavor to be led and empowered by His Spirit rather than the design and influence of men.</p>

<p>We intentionally preach and teach teh Word of God in our worship services and apply it to our lives through small groups and our age-level Christian education ministries. The Bible's instruction is relevant to every need of our day, providing clarity in a philisophically blurred society. We strive to equip our people to know what they believe and why through disciplined reading, study, meditation, and memorization of the Word.</p>

<p>In worship, the church comes together to meet the holy God and to respond in obedience and love. Sincere followers of Christ reach out to God in praise, thanksgiving, dedication, confession, faith and, service. Thorough preparation is necessary for quality corporate worship. The pastors, the worship team (musicians, song leaders, technicions, ushers, and nursery/children's workers) and individual worshipers should be ready in every way to give God the glory due Him. We encourage private and family worship as the lifestyle of every believer.</p>

<p>God Bless,<br /><br />Herb Coates<br />Pastor</p>

</div>
</div>

<div class="section-header">
<h1>Time & Location</h1>
</div>
<div class="row">
<!-- FIXME: Not quite there yet -->
<!-- http://snazzymaps.com/style/15/subtle-grayscale -->
<!-- Downloaded example: /Users/jacob/Downloads/snazzy-maps-example-subtle-grayscale-style.html  -->
<img src="{{ paths.theme }}img/map.png" alt = "Map to church" style="height:360px;"/>
</div>

<div class="row">

<div class="col-md-4 col-md-offset-2">
<h2>Times</h2>
<h3>Sundays</h3>
9:30 AM – English Conversation<br />
9:30 AM – Sunday Study<br />
10:30 AM – Worship Service<br />
7:00 PM – Small Groups (1st & 3rd weeks)

<h3>Wednesdays</h3>
  6:00 PM – Family Life (1st & 3rd weeks)<br />
  6:30 PM – Youth group <br />
  7:00 PM – Christian Life Club <br />
  7:00 PM – Prayer service<br />
  7:00 PM – English Conversation Group
</div>

<div class="col-md-4">
<h2>Address</h2>
1913 S Mattis Avenue - Mattis Avenue Free Methodist Church is located in southwest Champaign, IL, across the street from Carle’s South Mattis Clinic.<br />
By bus: The church is on the 10 Gold (weekday) and 180 Lime (weekend) bus lines.<br />
From I-57: Take exit 237A toward University. Merge onto I-72. Turn right onto S. Mattis Avenue.<br />
From I-74: Take exit 179A to merge onto I-57 S toward Memphis. Take exit 235A toward University. Merge onto I-72 E. Turn right onto S. Mattis Avenue.
</div>
</div>

</div><!-- end page-section -->
</div><!-- end container -->
</div><!-- end page -->

{% include '_footer.twig' %}
