{% include '_header.twig' %}

<div class="container-fluid hero-div overlay-{{ record.overlay }}" >
<img src="{{ record.image|image() }}"  />
<span class="overlay-text">faith @ home</span>
</div>


<div class="page">
<div class="container">


<div class="page-section faith-at-home-page">

<div class="section-header">
<h1>Faith at Home</h1>
<p>Subtitle for Faith at Home here</p>
</div>


<div class="row">
<div class="col-md-8 col-md-offset-2">
<p>Some info here about Faith at Home</p>
</div>

<hr />

<div class="section-header">
<h1>Faith Path</h1>
<p> Subtitle for Faith Path here </p>
</div>

<div class="row">
<div class="col-md-8 col-md-offset-2">
<p>Links, etc for Faith Path here</p>
</div>
</div>


</div><!-- end page-section -->
</div><!-- end container -->
</div><!-- end page -->

{% include '_footer.twig' %}
