{% include '_header.twig' %}

<div class="container-fluid hero-div overlay-{{ record.overlay }}" >
  <img src="{{ record.image|image() }}"  />
  <span class="overlay-text">ways we serve</span>
</div>


<div class="page">
<div class="container">

<div class="page-section ways-we-serve-page">

<div class="section-header">
<h1>Our Community</h1>
<p>Through MAFMC, members of our church body volunteer with a variety of ministries...</p>
</div>

<div class="row">
<div class="col-md-4 col-md-offset-2">

<h4>Conversations in English</h4> <p>Held <a href="#">FIXME LINK at the church</a>, these groups help international visitors improve their speaking skills.</p>
<h4>empty tomb, inc</h4> <p><a href="http://www.emptytomb.org/">empty tomb</a> is a Christian service and research organization</p>
<h4>FCA</h4> <p><a href="http://fca.org/">FCA’s</a> goal is to see the world impacted for Jesus Christ through the influence of coaches and athletes.</p>
<h4>Restoration Urban Ministries</h4><p><a href="http://restorationurbanministries.net">Restoration Urban Ministries</a> is a non-profit organization, dedicated to providing comprehensive services in an effort to help the most needy and desperate in the community.</p>
</div>
<div class="col-md-4">
<h4>Salt and Light</h4><p><a href="http://www.saltandlightministry.org/">Salt and Light</a> is a non-profit ministry with a mission to share the love of God by helping those in need.</p>
<h4>First Free Methodist Church Indianapolis</h4><p> FIXME not sure what text was supposed to go here.</p>
<h4>LYN House</h4><p><a href="http://www.lynhouse.org/">LYN House</a> is an Indianapolis ministry affiliated with the Free Methodist Church which endeavors to demonstrate Christ’s love through compassionate hospitality and transformational care.</p>
</div>
<div class="col-md-2"></div>
</div>

<hr />

<div class="section-header">
<h1>Our World</h1>
<p>MAFMC directly supports a number of missionaries around the world, and also FIXME. </p>
</div>

<div class="row">
<div class="col-md-4 col-md-offset-2">
<h2>Missions</h2>
</div>
</div>

<div class="row">
<div class="col-md-8 col-md-offset-2">
<h4>David and Sherrill Yardy</h4><p>David is Free Methodist Area Director for Asia and Associate Executive Director for World Missions.</p>
</div>
</div>

<div class="row">
<div class="col-md-8 col-md-offset-2">
<h4>Kay Stotts Godoy</h4><p> Kay is a missionary to Latin America, based in Santiago, Chile, and is married to Leonardo Godoy.</p>
</div>
</div>

<div class="row">
<div class="col-md-4 col-md-offset-2">
<h2>Global Projects</h2>
</div>
</div>

<div class="row">
<div class="col-md-8 col-md-offset-2">
<h4>International Child Care Ministries</h4><p>Many individuals at Mattis Avenue have chosen to be involved globally by sponsoring children through <a href="http://www.childcareministries.com">ICCM</a>, our denomination’s child sponsorship initiative.</p>
</div>
</div>

<div class="row">
<div class="col-md-8 col-md-offset-2">
<h4>Bishops’ Crisis Response Fund</h4><p>The Bishops’ Crisis Response Fund provides immediate relief funds in crisis situations.</p>
</div>
</div>

<div class="row">
<div class="col-md-8 col-md-offset-2">
<h4>Projects Abroad</h4><p>Mattis Avenue members have partnered in a church-building project in Hermosillo, Mexico. In addition, groups have taken mission trips to Dominican Republic and several African countries.</p>
</div>
</div>

</div><!-- end page-section -->
</div><!-- end container -->
</div><!-- end page -->

{% include '_footer.twig' %}
