{% include '_header.twig' %}

<div class="container-fluid hero-div overlay-{{ record.overlay }}" >
<img src="{{ record.image|image() }}"  />
<span class="overlay-text">ministry teams</span>
</div>


<div class="page">
<div class="container">


<div class="page-section ministry-teams-page">

<div class="section-header">
<h1>Ministry Teams</h1>
<p>There are many ways to volunteer through the local church body. Most opportunities are organized into ministry teams by type, who manage a wide variety of projects. Teams are always looking for new members, and those willing to assist with their unique ministries:</p>
</div>


<div class="row">
<div class="col-md-8 col-md-offset-2">
<h4>Christian Education</h4>
<p>Teaching and education for all ages</p>
</div>
</div>

<div class="row">
<div class="col-md-8 col-md-offset-2">
<h4>Fellowship</h4>
<p>Supporting special events and Sunday community-building.</p>
</div>
</div>

<div class="row">
<div class="col-md-8 col-md-offset-2">
<h4>Finance</h4>
<p>Providing responsibility for handling of money and budgets</p>
</div>
</div>

<div class="row">
<div class="col-md-8 col-md-offset-2">
<h4>Missions </h4>
<p>Helping us reach out and stay educated on a local and global levels.</p>
</div>
</div>

<div class="row">
<div class="col-md-8 col-md-offset-2">
<h4>Outreach </h4>
<p>Reaching out to the local community.</p>
</div>
</div>

<div class="row">
<div class="col-md-8 col-md-offset-2">
<h4>Stewards </h4>
<p>Using our financial and human resources to assist others in the congregation and community.</p>
</div>
</div>

<div class="row">
<div class="col-md-8 col-md-offset-2">
<h4>Worship </h4>
<p>Producing and coordinating music and scripture reading.</p>
</div>
</div>


</div><!-- end page-section -->
</div><!-- end container -->
</div><!-- end page -->

{% include '_footer.twig' %}
