{% include '_header.twig' %}

<div class="container-fluid hero-div overlay-{{ record.overlay }}" >


<img src="{{ record.image|image() }}"  />

<!-- http://evanhahn.com/life-changing-css/ -->
<!-- <div style="position:absolute;top:50%;transform:translateY(-90%);left:50%;color:white;font-size:24px;text-transform:uppercase;font-weight:bold;letter-spacing:.3em;">grow</div> -->
<!-- http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/ --> 

<span class="overlay-text">life stage</span>



</div>


<div class="page">
<div class="container">

<!-- <span class="glyphicon glyphicon-search"></span><span class="glyphicon glyphicon-search"></span><span class="glyphicon glyphicon-search"></span><span class="glyphicon glyphicon-search"></span>
-->

{# commented... 
{{ dump(record) }} 
#}

<!-- Here we want to say... -->

<!-- Welcome (LHS) --> 
<!-- ... get snippet from Welcome page? -->

<!-- Upcoming events (LHS) -->

<!-- General Info | RHS --> 
<!-- Recent Sermons | RHS --> 


<div class="page-section life-stage-page">

<div class="section-header">
<h1>Children</h1>
<p>Our Christian Education Ministry walks with parents on the journey of bringing children into a growing living faith in God. We believe when it comes to raising children who love the Lord, "you can do it, we can help!"</p>
</div>

<div class="row">
<div class="col-md-4 col-md-offset-2">
<h2>Sunday mornings</h2>
</div>
</div>

<div class="row">
<div class="col-md-4 col-md-offset-2">
<h4>Nursery</h4>
<p>Nursery is available for infants to age 3 during Sunday School (9:30) and Worship (10:30). Parents are asked to sign their child in and leave their cell phone on vibrate so they can be contacted if needed.</p>

<h4>Sunday School - 9:30 am</h4>
<p>Children age 3 through 5th grade are welcomed to age-appropriate Sunday School classes. The focus is on learning stories from the Bible and relating those to our everyday lives. Children gather in room 10 for Sunday School opening, then move to age level classrooms with their teachers.</p>
</div>
<div class="col-md-4">
<h4>Morning worship time: 10:30 am: Kinderchurch (ages 3 to 5) </h4>
<p>Children enjoy Bible stories, singing, crafts, snacks, and play time during the entire worship service. Kinderchurch meets in room 13.</p>

<h4>Children’s Church (K to 3rd grade)</h4>
<p>  Children join their families for the first part of the morning service, so they can learn about and experience corporate worship as a part of the larger church body. They are dismissed to Children’s Church just before the sermon. The Children’s Church lessons follow the church liturgical calendar, and are presented in ways that stimulates wonder and curiosity. After the service, adults pick up their children outside room 10.</p>
</div>
<div class="col-md-2"></div>
</div>


<div class="row">
<div class="col-md-4 col-md-offset-2">
<h2>Wednesday Nights</h2>
</div>
</div>

<div class="row">
<div class="col-md-4 col-md-offset-2">

<h4>CLC (K to 5th grade)</h4>
<p> Children are invited to join Christian Life Club (CLC) on Wednesdays from 6:45–8:00pm during the school year. CLCers learn Bible verses and participate in activities that help them learn more about following Jesus and living for Him. Each month has a theme centered on a Christian life trait. Crafts and recreation are also part of the program. Throughout the year, CLCers work on earning badges, which are presented at an end of the year honor council. CLC meets in rooms 9, 10, and 11.</p>

</div>
<div class="col-md-4">
<h4>Summer Camp at Wabash Park Campground</h4>
<p> Week long camps are offered each summer for 3rd grade to Junior High students at our denomination’s campground in rural southern Indiana, near Terre Haute. Information about camp is available in the church office.</p>

</div>
</div>

<hr />

<div class="section-header">
<h1>Youth: 6<sup>th</sup> - 12<sup>th</sup> Grade</h1>
<p> We seek to partner with teens and their families as they journey through the transitional years of early adolescence into young adulthood. With proper guidance and influences, this transition can be a very exciting and healthy time. To that end, we seek to create an atmosphere where the love of Jesus is lived out in a very visible way, where all voices are heard, and students are reminded that they can have new life in Christ.
</p>
</div>

<div class="row">
<div class="col-md-4 col-md-offset-2">
<h2>Sunday mornings</h2>
</div>
</div>

<div class="row">
<div class="col-md-4 col-md-offset-2">

<h4>Sunday School - 9:30 am</h4>
<p>Sunday morning options for teens include an age-specific class in which difficult theological questions are brought up and addressed. The extended teaching and discussion time lends itself to deeper and more challenging questions than can be accommodated in other contexts (include??). Topics and discussion range from apologetics to Old and New Testament surveys.</p>
</div>
<div class="col-md-4">

<h4>(placeholder)</h4>
<p>(placeholder)</p>
</div>
</div>


<div class="row">
<div class="col-md-4 col-md-offset-2">
<h2>Wednesday Nights</h2>
</div>
</div>

<div class="row">
<div class="col-md-4 col-md-offset-2">

<h4>FIXME</h4>
<p> Seems to be incomplete content</p>

</div>
<div class="col-md-4">
<h4>FIXME 2</h4>
<p> Seems to be incomplete content</p>

</div>
</div>

<hr />

<div class="section-header">
<h1>Adults</h1>
<p> (content missing )</p>
</div>

<div class="row">
<div class="col-md-4 col-md-offset-2">
<h2>Sunday mornings</h2>
</div>
</div>

<div class="row">
<div class="col-md-8 col-md-offset-2">


<h4>Sunday Study - 9:30 am</h4>
<p> A wide variety of engaging topics including theology, Christian daily life, and cultural perspectives are offered as part of the program. Sessions often include a lesson and group discussion time. Check the Event Calendar for current info.</p>
</div>
</div>

<div class="row">
<div class="col-md-8 col-md-offset-2">

<h4>The Gathering Place</h4>
<p>Gather for Christian Fellowship, food, and sharing in the foyer.</p>
</div>
</div>


<div class="row">
<div class="col-md-4 col-md-offset-2">
<h2>Through the Week</h2>
</div>
</div>

<div class="row">
<div class="col-md-8 col-md-offset-2">

<p> Check the calendar for details (FIXME: link).</p>

</div>
</div>

<div class="row">
<div class="col-md-4 col-md-offset-2">
<h2>Small Groups</h2>
</div>
</div>


<div class="row">
<div class="col-md-8 col-md-offset-2">
<p> 
  At Mattis Avenue Free Methodist Church, we want to be ever growing and maturing disciples of Jesus Christ, not matter what stage or walk of life we are in. The question that ultimately matters is where people are being saved and conformed to the likeness of Christ (Col. 1:28.) Small groups exist to equip and encourage. We have two Group Link days per year where   ... (FIXME missing content).

  <br />
  Interested? Contact ... FIXME LINK
  </p>

</div>
</div>

<div class="row">
<div class="col-md-4 col-md-offset-2">
<h2>Special Courses</h2>
</div>
</div>


<div class="row">
<div class="col-md-8 col-md-offset-2">

<h4>Alpha</h4>
<p>Alpha is an opportunity to explore the meaning of life in a relaxed, friendly setting where no question about life or God is off limits. We’ve offered this class in both English and Chinese. Learn more about Alpha at <a href="http://www.alphausa.org">www.alphausa.org</a>. </p>

<h4>Financial Peace University</h4>
<p>Dave Ramsey’s hands-on class teaches how to get rid of debt, manage your money, spend and save wisely, and much more! The focus is on God’s way of handling money. Learn more about Financial Peace University at <a href="http://www.daveramsey.com">www.daveramsey.com</a>.</p>


<h4>The Parenting Courses</h4>
<p>As part of coming alongside parents, we have offered “The Parenting Children Course” (for those parenting 0–10 year olds) and “The Parenting Teenagers Course” (for those parenting 11–18 year olds).  Materials from these courses are available in our lending library. Learn more about these courses at <a href="http://www.alphausa.org">www.alphausa.org</a></p>

<h4>The Marriage Course</h4>
<p>A fun and eye opening way to learn practical tools for improving your relationship, all in a date night setting! Learn more about this course at <a href="http://www.alphausa.org">www.alphausa.org</a>  </p>


</div>
</div>

<div class="section-header">
<h1>Families</h1>
<p> (content missing )</p>
</div>

<div class="row">
<div class="col-md-8 col-md-offset-2">
<h2>1st and 3rd Families (most 1st and 3rd Wednesdays, 6:00 to 8:00 pm)</h2>
<p>
“1st and 3rd,” as it’s affectionately called, is a place where those actively parenting can come to develop friendships and discuss topics relevant to family life, building healthy relationships and passing on faith at home to the next generation. Bring your kids—bring your friends! Fun, faith, and encouragement are served family style!</p>

<p>Here is how evenings are structured:</p>
<ul>
<li>6:00 to 6:45 pm   Family dinner for all</li>
<li>6:45 to 7:00 pm Foyer clean up, kids head off to age level classes/programs</li>
<li>7:00 to 8:00 pm Adult discussion and learning time, prayer</li>
</ul>

<p>Recent resources we’ve used for discussion include: “Raising Your Kids to Love the Lord” by Dave Stone, “Parenting: The Early Years” by Drs. Les and Leslie Parrott, and “The Meaning of Marriage: Facing the Complexities of Commitment with the Wisdom of God” by Timothy Keller with Kathy Keller.” </p>
</div>
</div>


<div class="row">
<div class="col-md-8 col-md-offset-2">
<h2>What is a “D:6” moment?</h2>
<p>
Studies show that the most important spiritual influences on a child’s life are not friends, teachers, a pastor/youth pastor or even the church itself…. it’s what they see at home! At MAFMC, we want to come alongside families to help make them stronger.</p>

<p>
A “D:6:” moment is when an adult, typcially Mom or Dad, uses an everyday teachable moment to impress their faith upon their child’s heart, just as it talks about in Deuteronomy 6. We’ve started recording a few “D:6″ stories of our own.  This one is told by the kids in the primary school kids Sunday School class.  Their teacher, Mrs. Goran, took an every day moment and used it to teach the kids about thankfulness and seeing God’s hand at work in the little details of our lives- even in a piece of macaroni!  </p>

<p>Here’s a D:6 moment from Suzanne and Ben, mother and son. They share about how remembering to pray can help us all through the storms of life, and how our children can become our teachers!</p>

<h4>D:6 Families Blog: Loving God with all you’ve got. Living it out at home. </h4>
<p>In a digital age, it’s easy to be overwhelmed by the sheer volume of information we see each day. Our Assistant for Family Ministries, Adrienne Olson, maintains a blog with the purpose of sharing resources, tips, ideas and thoughts for those with kids at home, helping them live out faith in a meaningful way, and impressing it on the next generation! Check it out at <a href="www.d6families.blogspot.com">www.d6families.blogspot.com</a>.</p>
</div>
</div>




</div><!-- end page-section -->
</div><!-- end container -->
</div><!-- end page -->


{% include '_footer.twig' %}
