{% include '_header.twig' %}
<div class="container-fluid" style="padding:0px;margin:0px;width:100%;background-color:rgb(191,96,65); position:relative;">
    <!-- filter: alpha(opacity=40); /* For IE8 and earlier */ -->
<img src="{{ paths.theme}}img/476714_385816154793664_560462353_o.jpg" style="max-width:100%;opacity:0.2";padding:0px;margin:0px;/>

<!-- http://evanhahn.com/life-changing-css/ -->
<!-- <div style="position:absolute;top:50%;transform:translateY(-90%);left:50%;color:white;font-size:24px;text-transform:uppercase;font-weight:bold;letter-spacing:.3em;">grow</div> -->
<!-- http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/ --> 
<span style="position: absolute; top: 50%; width:100%;text-align:center;color:white;letter-spacing:.3em;font-size:36px;-webkit-transform: translateY(-50%);">grow</span>


  

</div>


<div class="page">
<div class="container">
Hello, World!


Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse adipiscing purus id neque dictum molestie. Maecenas et nunc odio. Nullam at volutpat nulla. Phasellus vehicula fringilla urna, in accumsan magna sodales a. Morbi vitae dolor scelerisque, luctus velit luctus, dapibus nunc. Pellentesque convallis turpis in bibendum fermentum. Aliquam nec viverra nunc, vel molestie sem. Ut lectus nisi, scelerisque a augue malesuada, suscipit viverra sapien.
<br />

Suspendisse posuere rhoncus adipiscing. Duis tortor ipsum, ultricies quis dolor ac, aliquam vehicula nibh. Sed libero tortor, molestie eu porttitor eu, fringilla nec libero. Vivamus urna enim, suscipit id nulla non, lacinia suscipit nisi. Curabitur ut justo erat. Nunc ut mi ullamcorper, aliquet libero eget, cursus ipsum. Nam at fringilla leo. Donec at ipsum malesuada, viverra turpis a, consectetur metus. Duis sed lectus diam. Curabitur ac libero vitae tortor sagittis laoreet at sed eros. Donec at magna volutpat, pharetra lacus eu, tincidunt libero. Donec lacinia arcu neque, in interdum eros egestas et. Sed quis elit id orci sodales tincidunt. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi eget venenatis sem.

<br />
Nulla ornare vel justo ac accumsan. Maecenas venenatis sollicitudin quam, sit amet faucibus erat ullamcorper sit amet. Phasellus ullamcorper magna lorem. Mauris sit amet purus quis quam imperdiet vestibulum. Nullam ac est a orci ultrices porta at tincidunt nulla. Sed sit amet auctor arcu, aliquet convallis lacus. Maecenas vel blandit felis, in laoreet felis. Integer vitae dignissim augue.
<br />

Sed quis dui id magna semper aliquam. Quisque dictum elementum cursus. Nulla blandit venenatis nunc, ac scelerisque eros fringilla sit amet. Donec fringilla vel leo porta aliquet. Phasellus sagittis, risus ac tempor pulvinar, augue tellus venenatis justo, eu tristique eros libero ut ante. Maecenas risus elit, vestibulum laoreet ligula et, pulvinar placerat sem. Proin lacinia malesuada sapien rutrum consectetur. Aenean id tellus vel ipsum sollicitudin dictum. Aenean dignissim dui urna, ut pellentesque erat pellentesque quis. Donec nec ante leo. Maecenas imperdiet eros a eros tristique suscipit. Quisque tristique quis magna viverra volutpat.
<br />

Etiam sagittis justo non mauris tempus iaculis. Nulla venenatis eleifend dolor, eu consequat mauris semper non. Donec nec blandit tortor, quis interdum nibh. Donec lacinia nec lacus ac lacinia. Quisque in augue lacus. Praesent condimentum libero lorem, ut feugiat magna aliquet ac. Donec sed tincidunt nulla. Cras lobortis gravida aliquam. In accumsan ligula commodo tellus sollicitudin, vitae lacinia eros mollis. Phasellus luctus turpis non consequat blandit. Quisque et sem eu est interdum ultricies ut sit amet dolor. In dapibus molestie congue. Phasellus dictum convallis justo, non interdum justo bibendum id.



</div>
</div>

{% include '_footer.twig' %}
