{% include '_header.twig' %}

<div class="container-fluid hero-div overlay-{{ record.overlay }}" >


<img src="{{ record.image|image() }}"  />

<!-- http://evanhahn.com/life-changing-css/ -->
<!-- <div style="position:absolute;top:50%;transform:translateY(-90%);left:50%;color:white;font-size:24px;text-transform:uppercase;font-weight:bold;letter-spacing:.3em;">grow</div> -->
<!-- http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/ --> 

<span class="overlay-text">life stage</span>



</div>


<div class="page">
<div class="container">

<!-- <span class="glyphicon glyphicon-search"></span><span class="glyphicon glyphicon-search"></span><span class="glyphicon glyphicon-search"></span><span class="glyphicon glyphicon-search"></span>
-->

{# commented... 
{{ dump(record) }} 
#}

<!-- Here we want to say... -->

<!-- Welcome (LHS) --> 
<!-- ... get snippet from Welcome page? -->

<!-- Upcoming events (LHS) -->

<!-- General Info | RHS --> 
<!-- Recent Sermons | RHS --> 


<div class="page-section life-stage-page">

<div class="section-header">
<h1>Children</h1>
<p>Our Christian Education Ministry walks with parents on teh journey of bringing children into a growing living faith in God. We believe when it comes to raising children who love the Lord, "you can do it, we can help!"</p>
</div>

<div class="row">
<div class="col-md-4 col-md-offset-2">
<h2>Sunday mornings</h2>
</div>
</div>

<div class="row">
<div class="col-md-4 col-md-offset-2">
<h4>Nursery</h4>
<p>Nursery is available for infants to age 3 during Sunday School (9:30) and Worship (10:30). Parents are asked to sign their child in and leave their cell phone on vibrate so they can be contacted if needed.</p>

<h4>Sunday School - 9:30 am</h4>
<p>Children age 3 through 5th grade are welcomed to age-appropriate Sunday School classes. The focus is on learning stories from the Bible and relating those to our everyday lives. Children gather in room 10 for Sunday School opening, then move to age level classrooms with their teachers.</p>
</div>
<div class="col-md-4">
<h4>Morning worship time: 10:30 am: Kinderchurch (ages 3 to 5) </h4>
<p>Children enjoy Bible stories, singing, crafts, snacks, and play time during the entire worship service. Kinderchurch meets in room 13.</p>

<h4>Children’s Church (K to 3rd grade)</h4>
<p>  Children join their families for the first part of the morning service, so they can learn about and experience corporate worship as a part of the larger church body. They are dismissed to Children’s Church just before the sermon. The Children’s Church lessons follow the church liturgical calendar, and are presented in ways that stimulates wonder and curiosity. After the service, adults pick up their children outside room 10.</p>
</div>
<div class="col-md-2"></div>
</div>


<div class="row">
<div class="col-md-4 col-md-offset-2">
<h2>Wednesday Nights</h2>
</div>
</div>

<div class="row">
<div class="col-md-4 col-md-offset-2">

<h4>CLC (K to 5th grade)</h4>
<p> Children are invited to join Christian Life Club (CLC) on Wednesdays from 6:45–8:00pm during the school year. CLCers learn Bible verses and participate in activities that help them learn more about following Jesus and living for Him. Each month has a theme centered on a Christian life trait. Crafts and recreation are also part of the program. Throughout the year, CLCers work on earning badges, which are presented at an end of the year honor council. CLC meets in rooms 9, 10, and 11.</p>

</div>
<div class="col-md-4">
<h4>Summer Camp at Wabash Park Campground</h4>
<p> Week long camps are offered each summer for 3rd grade to Junior High students at our denomination’s campground in rural southern Indiana, near Terre Haute. Information about camp is available in the church office.</p>

</div>
</div>

<hr />

<div class="section-header">
<h1>Youth: 6<sup>th</sup> - 12<sup>th</sup> Grade</h1>
<p> We seek to partner with teens and their families as they journey through the transitional years of early adolescence into young adulthood. With proper guidance and influences, this transition can be a very exciting and healthy time. To that end, we seek to create an atmosphere where the love of Jesus is lived out in a very visible way, where all voices are heard, and students are reminded that they can have new life in Christ.
</p>
</div>

<div class="row">
<div class="col-md-4 col-md-offset-2">
<h2>Sunday mornings</h2>
</div>
</div>

<div class="row">
<div class="col-md-4 col-md-offset-2">

<h4>Sunday School - 9:30 am</h4>
<p>Sunday morning options for teens include an age-specific class in which difficult theological questions are brought up and addressed. The extended teaching and discussion time lends itself to deeper and more challenging questions than can be accommodated in other contexts (include??). Topics and discussion range from apologetics to Old and New Testament surveys.</p>
</div>
<div class="col-md-4">

<h4>(placeholder)</h4>
<p>(placeholder)</p>
</div>
</div>


<div class="row">
<div class="col-md-4 col-md-offset-2">
<h2>Wednesday Nights</h2>
</div>
</div>

<div class="row">
<div class="col-md-4 col-md-offset-2">

<h4>FIXME</h4>
<p> Seems to be incomplete content</p>

</div>
<div class="col-md-4">
<h4>FIXME 2</h4>
<p> Seems to be incomplete content</p>

</div>
</div>

<hr />

<div class="section-header">
<h1>Adults</h1>
<p> (content missing )</p>
</div>

<div class="row">
<div class="col-md-4 col-md-offset-2">
<h2>Sunday mornings</h2>
</div>
</div>

<div class="row">
<div class="col-md-8 col-md-offset-2">


<h4>Sunday Study - 9:30 am</h4>
<p> A wide variety of engaging topics including theology, Christian daily life, and cultural perspectives are offered as part of the program. Sessions often include a lesson and group discussion time. Check the Event Calendar for current info.</p>
</div>
</div>

<div class="row">
<div class="col-md-8 col-md-offset-2">

<h4>The Gathering Place</h4>
<p>Gather for Christian Fellowship, food, and sharing in the foyer.</p>
</div>
</div>


<div class="row">
<div class="col-md-4 col-md-offset-2">
<h2>Through the Week</h2>
</div>
</div>

<div class="row">
<div class="col-md-8 col-md-offset-2">

<p> Check the calendar for details (FIXME: link).</p>

</div>
</div>

<div class="row">
<div class="col-md-4 col-md-offset-2">
<h2>Small Groups</h2>
</div>
</div>


<div class="row">
<div class="col-md-8 col-md-offset-2">
<p> 
  At Mattis Avenue Free Methodist Church, we want to be ever growing and maturing disciples of Jesus Christ, not matter what stage or walk of life we are in. The question that ultimately matters is where people are being saved and conformed to the likeness of Christ (Col. 1:28.) Small groups exist to equip and encourage. We have two Group Link days per year where   ... (FIXME missing content).

  <br />
  Interested? Contact ... FIXME LINK
  </p>

</div>
</div>




</div>


</div>



</div>

{% include '_footer.twig' %}
