{% include '_header.twig' %}

<div class="container-fluid hero-div overlay-{{ record.overlay }}" >
<<<<<<< HEAD


<img src="{{ record.image|image() }}"  />

<!-- http://evanhahn.com/life-changing-css/ -->
<!-- <div style="position:absolute;top:50%;transform:translateY(-90%);left:50%;color:white;font-size:24px;text-transform:uppercase;font-weight:bold;letter-spacing:.3em;">grow</div> -->
<!-- http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/ --> 

<span class="overlay-text">Resources</span>
=======
<img src="{{ record.image|image() }}"  />
<span class="overlay-text">resources</span>
>>>>>>> FETCH_HEAD



</div>


<div class="page">
<div class="container">

<<<<<<< HEAD
<span class="glyphicon glyphicon-search"></span><span class="glyphicon glyphicon-search"></span><span class="glyphicon glyphicon-search"></span><span class="glyphicon glyphicon-search"></span>

<!--
{{ dump(record) }} 
-->

<!-- Here we want to say... -->

<!-- Welcome (LHS) --> 
<! -- ... get snippet from Welcome page? -->

<!-- Upcoming events (LHS) -->

<!-- General Info | RHS --> 
<!-- Recent Sermons | RHS --> 

<div class="grow-page">

<div class="grow-header">

<!--<h1 class="section_divider">Grow Your Community</h1>
<p>At Mattis Avenue, we believe it's crucial to continue to grow your spiritual life.

This can be your personal relationship with Christ, with with church body, as well as the community around us.
</p>--!>
</div>

<div class="row">
<div class="col-md-4">
<h4>Special Series</h4>
<p>Each week we have different things going on. Here you can see what those things are and get more info on it.</p>
<button type="button" class="btn btn-default">Go</button>
</div>
<div class="col-md-4">
<h4>Calendar</h4>
<p>Upcoming events we've got going on for the weeks and months to come.</p>
<button type="button" class="btn btn-default">Go</button>
</div>
<div class="col-md-4">
<h4>Sermons</h4>
<p>All of our past sermons are available to listen to online. Play them in your browser or download them straight to your device.</p>
<button type="button" class="btn btn-default">Go</button>
=======
<div class="page-section resources-page">

<div class="row">
<div class="col-md-4">
<h3>Special Series</h3>
<p>Each week we have different things going on. here you can see what those things are and get more info on it.</p>
<a href="#" class="btn btn-default">Go</a>
</div>
<div class="col-md-4">
<h3>Calendar</h3>
<p>Every single event we've got going on for the weeks and months to come.</p>
<a href="#" class="btn btn-default">Go</a>
</div>
<div class="col-md-4">
<h3>Sermons</h3>
<p>All of our past sermons are available to listen to online. Play them in your browser or download them straight to your device!</p>
<a href="#" class="btn btn-default">Go</a>
>>>>>>> FETCH_HEAD
</div>
</div>

<hr />

<div class="row">
<div class="col-md-4">
<<<<<<< HEAD
<h4>English Conversation</h4>
<p>All are welcome to join our English Conversation classes.</p>
<button type="button" class="btn btn-default">Go</button>
</div>
<div class="col-md-4">
<h4>Giving</h4>
<p>We believe giving financially to support the church, locally or around the world, is important biblically and socially. You can participate by giving in person at Mattis Ave FMC or online.</p>
<button type="button" class="btn btn-default">Go</button>
</div>
<div class="col-md-4">
<h4>Praise Press</h4>
<p>To request a copy of our monthly email newsletter, contact Helen Kaufmann.</p>
<button type="button" class="btn btn-default">Link</button>
</div>
</div>

</div>


</div>



</div>
=======
<h3>English Conversation</h3>
<p>All are welcome to our native English-speaking volunteers.</p>
<a href="#" class="btn btn-default">Go</a>
</div>
<div class="col-md-4">
<h3>Giving</h3>
<p>We believe giving financially to support the church, locally or around the world, is important biblically and socially. You can participate by giving in person at Mattis Ave FMC or online.</p>
<a class="btn btn-default" href="http://donate.mattisave.org/">Go</a>
</div>
<div class="col-md-4">
<h3>Praise Press</h3>
<p>To request a copy of Praise Press, our monthly email newsletter, contact Helen Kaufmann</p>
<a href="#" class="btn btn-default">Link</a>
</div>
</div>

</div><!-- end page-section -->
</div><!-- end container -->
</div><!-- end page -->
>>>>>>> FETCH_HEAD

{% include '_footer.twig' %}
