/* 
 * Base element definitions from Chad
 */

.section_divider {
   font-family: $sans-serif-font !important;
   color: $primary-color;
   font-weight:800;
   font-size:32px;
   line-height:32px;
   text-transform:uppercase;
   letter-spacing:4px;;
   /* letter-spacing: super-wide */
}

.section_description {
   font-family: $serif-font-regular;
   color: $secondary-color;
   font-size:14px;
   line-height:24px;
}

.headline1 {
   color: $primary-color;
   font-family: $serif-font-bold;
   font-size:22px;
   line-height:24px;
   font-weight:bold;
}

.headline2 {
   color: $primary-color;
   font-family: $sans-serif-font;
   font-size:14px;
   line-height:24px;
   text-transform:uppercase;
   font-weight:800;
   /* letter-spacing: super wide */
}

.headline3 {
   color: $primary-color;
   font-family: $serif-font-bold;;
   font-weight:800;
   font-size:16px;
   line-height:24px;
   /* letter-spacing: super wide */
}

.subhead {
   color: $secondary-color;
   font-family: $serif-font-bold;
   font-size:14px;
   font-weight:bold;
   line-height:24px;
}

.body_copy {
   color: $default-color;
   font-family: $serif-font-regular;
   font-size:14px;
   line-height:24px;
}

.light {
  color: $light-color;
}

a {
  color: $primary-color;
}

