// Fix font path... 

/* Override Bootstrap defaults */
$icon-font-path: "../assets/fonts/bootstrap/";
$grid-gutter-width: 20px;
$container-large-desktop: (940px + $grid-gutter-width);
@import '../external/bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

/* Import base variables -- colors, etc */
@import 'variables';

/* Google web font - merriweather */
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,900);

/* Import base styles */
@import 'base';
@import 'nav';
@import 'hero';
@import 'footer';
@import 'page';

/*
 * PAGE SPECIFIC CSS
 *
 * Add any page-specific CSS here!
 */
@import 'pages/grow';
@import 'pages/resources';
